<announcement-bar class="relative block wysiwyg text-center px-responsive py-4 bg-gray-200 overflow-hidden">
  <div class="inline-flex">
    {% for block in section.blocks %}
      <div data-announcement class="relative inline-block flex-shrink-0 hidden first:inline-block">
        {{ block.settings.text }}
      </div>
    {% endfor %}
  </div>
  <div data-announcement-mask class="hidden absolute inset-0 m-auto w-0 before:absolute before:top-0 before:bottom-0 before:right-[100%] before:w-[1000px] before:bg-gray-200 after:absolute after:top-0 after:bottom-0 after:left-[100%] after:w-[1000px] after:bg-gray-200 pointer-events-none">
    <button name="prev" class="pointer-events-auto absolute top-0 bottom-0 right-[100%] m-auto z-10 disabled:opacity-50" onclick="this.closest('announcement-bar').embla.scrollPrev()"><</button>
    <button name="next" class="pointer-events-auto absolute top-0 bottom-0 left-[100%] m-auto z-10 disabled:opacity-50" onclick="this.closest('announcement-bar').embla.scrollNext()">></button>
  </div>
</announcement-bar>
