<div class="flex px-sm">
  <h2 class="flex-1">{{ 'sections.cart.title' | t }}</h2>
  {% unless template.name == "cart" %}
    <button type="button" onclick="this.closest('shopify-cart').closeDrawer()" aria-label="{{ 'accessibility.close' | t }}">X</button>
  {% endunless %}
</div>
