<div class="max-w-7xl mx-auto px-responsive">
  <div>
    {% render 'rich-text', heading: heading, content: content %}
  </div>
  <div class="grid grid-cols-3">
    {% for block in section.blocks %}
      {% render 'content-card',
        size: block.settings.size,
        subheading: block.settings.subheading,
        heading: block.settings.heading,
        content: block.settings.content,
        link_text: block.settings.link_text,
        link_style: block.settings.link_style,
        background_image: block.settings.background_image
      %}
    {% endfor %}
  </div>
</div>
