<div data-module="product-grid" class="bg-white max-w-7xl mx-auto px-responsive">
  <div data-slot="product-grid-items" class="grid grid-cols-1 gap-x-6 gap-y-6 sm:grid-cols-2 md:grid-cols-4">
    {% for product in products %}
      {% render 'product-card', product: product %}
    {% endfor %}
  </div>
</div>
