{% comment %}
  Parameters
  * heading
{% endcomment %}

{% capture inner_class %}
px-responsive
{% if image_position == 'left' or image_position == 'right' %} sm:grid sm:grid-cols-12 sm:max-w-7xl sm:mx-auto py-12{% endif %}
{% unless image_position == 'left' or image_position == 'right' %} relative text-center{% endunless %}
{% endcapture %}

{% capture content_container_class %}
relative z-10
{% if image_position == 'left' or image_position == 'right' %} sm:col-span-5 sm:flex sm:flex-col sm:justify-center{% endif %}
{% if image_position == 'left' %} sm:order-1 sm:pl-12{% endif %}
{% if image_position == 'right' %} sm:pr-12{% endif %}
{% unless image_position == 'left' or image_position == 'right' %} py-48{% endunless %}
{% endcapture %}

{% capture value_props_container_class %}
{% unless image_position == 'left' or image_position == 'right' %}inline-flex space-x-6{% endunless %}
{% endcapture %}

{% capture value_prop_class %}

{% endcapture %}

{% capture picture_container_class %}
z-0
{% if image_position == 'left' or image_position == 'right' %} sm:col-span-7{% endif %}
{% unless image_position == 'left' or image_position == 'right' %} absolute inset-0{% endunless %}
{% endcapture %}

{% capture picture_class %}
{% if image_position == 'left' or image_position == 'right' %}inline-block aspect-w-[730] aspect-h-[600] w-full{% endif %}
{% endcapture %}

<div data-module="text-banner">
  <div class="{{ inner_class | strip_newlines | strip }}">
    <div class="{{ content_container_class | strip_newlines | strip }}">
      {% render 'rich-text',
        heading: subheading,
        heading_class: 'h5',
      %}
      {% render 'rich-text',
        heading: heading,
        heading_class: 'h2',
        content: content,
        link_text_1: link_text,
        link_url_1: link_url,
        link_style_1: link_style,
      %}
      {% unless section.blocks == blank %}
        <div class="{{ value_props_container_class | strip_newlines | strip }}"">
          {% for block in section.blocks %}
            {% render 'value-prop', title: block.settings.title, description: block.settings.description %}
          {% endfor %}
        </div>
      {% endunless %}
    </div>
    {% unless image_position == 'none' %}
      <div class="{{ picture_container_class | strip_newlines | strip }}">
        {% render 'picture', image: image, class: picture_class %}
      </div>
    {% endunless %}
  </div>
</div>
