@charset 'utf-8';

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  height: 100%;
  box-sizing: border-box;
}

body {
  min-height: 100%;
  background-image: url('@/images/cool-background.png');
}
