{% layout none %}
{% comment %}
  NOTE: This template is used to dynamically render content for the recently-viewed-products module.
{% endcomment %}
<div data-slot="product-grid-results">
  {% render 'product-grid', products: search.results %}
</div>
