<account-addresses>
  <div class="block max-w-7xl px-responsive mx-auto">
    {% render 'account-address-form',
      address: customer.new_address,
      class: 'hidden',
      heading: 'Add Address'
    %}
    {% for address in customer.addresses %}
      {% render 'account-address-form',
        address: address,
        class: 'hidden',
        heading: 'Edit Address'
      %}
    {% endfor %}
  </div>
  <div class="block max-w-7xl px-responsive mx-auto">
    <h2 class="h2 mb-12">{{ 'customer.addresses.title' | t }}</h2>
    {% if customer.addresses == blank %}
      <div class="bg-gray-100 px-8 py-24 wysiwyg text-center">
        {{ section.settings.empty_content }}
      </div>
    {% else %}
      {% if customer.default_address != blank %}
        <div class="bg-gray-100 p-8">
          {% render 'account-address-summary',
            address: customer.default_address,
            is_default_address: true
          %}
        </div >
      {% endif %}
      {% for address in customer.addresses %}
        {% unless address.id == customer.default_address.id %}
          <div class="bg-gray-100 p-8">
            {% render 'account-address-summary', address: address %}
          </div>
        {% endunless %}
      {% endfor %}
    {% endif %}
    <div class="text-center my-12">
      {% render 'button',
        link_tag: 'button'
        onclick: "this.closest('account-addresses').toggleForm('new')",
        link_text: 'Add an address',
        link_style: 'dark'
      %}
    </div>
  </div>
</account-addresses>

{% schema %}
{
  "name": "Account Addresses",
  "settings": [
    {
      "type": "richtext",
      "id": "empty_content",
      "label": "Empty Content",
      "info": "Content to be displayed when customer has saved any addresses"
    }
  ]
}
{% endschema %}
