{% liquid
  if template.name == "cart"
    assign cart_class = "block relative mx-auto max-w-7xl px-responsive"
    assign empty_class = 'px-responsive my-8'
  else
    assign cart_class = "fixed top-0 bottom-0 right-0 w-full sm:w-[500px] bg-white z-50 peer translate-x-full [&.open]:translate-x-0 transition-transform"
    assign empty_class = 'px-sm my-8'
  endif
%}
<shopify-cart data-slot="shopify-cart" class="{{ cart_class }}">
  {% render 'cart-header' %}
  {% if cart.items == blank %}
    <div class="{{ empty_class }}">
      <div class="wysiwyg text-center px-sm py-8 bg-gray-100">
      {{ section.settings.empty_content }}
      </div>
    </div>
  {% else %}
    {% form 'cart', cart %}
      {% for item in cart.items %}
        {% render 'cart-item', item: item %}
      {% endfor %}
      {% render 'cart-footer' %}
    {% endform %}
  {% endif %}
</shopify-cart>
{% unless template.name == "cart" %}
  <span class="fixed inset-0 bg-black z-40 opacity-0 pointer-events-none [.peer.open~&]:opacity-20 [.peer.open~&]:pointer-events-auto transition-opacity" onclick="document.querySelector('shopify-cart').closeDrawer()">
{% endunless %}

{% schema %}
{
  "name": "Cart",
  "settings": [
    {
      "type": "richtext",
      "id": "empty_content",
      "label": "Empty Content",
      "info": "Content to be displayed when customer has not added any items to the cart"
    }
  ]
}
{% endschema %}
