<collection-product-grid class="flex">
  <div>
    {% render 'collection-filters' %}
  </div>
  <div class="flex-1">
    {% paginate collection.products by 20 %}
      {% render 'product-grid', products: collection.products %}
      <div data-slot="collection-product-grid-pagination" data-pagination class="text-center">
        {% unless paginate.next.url == blank %}
          {% comment %} <a href="{{ paginate.next.url }}">Load More</a> {% endcomment %}
          <span class="hidden" data-pagination-loading>Loading...</span>
        {% endunless %}
      </div>
    {% endpaginate %}
  </div>
</collection-product-grid>
{% render 'vite-tag' with '@modules/collection-product-grid' %}
