<hero-slider data-module="hero-slider" class="overflow-hidden">
  <div class="flex">
    {% for block in section.blocks %}
      {%- render 'hero',
        id: block.id,
        attr: block.shopify_attributes,
        background_type: block.settings.background_type,
        image_mobile: block.settings.image_mobile,
        image_desktop: block.settings.image_desktop,
        image_alt: block.settings.image_alt,
        video_mobile: block.settings.video_mobile,
        video_desktop: block.settings.video_desktop,
        heading: block.settings.heading,
        heading_style: block.settings.heading_style,
        subheading: block.settings.subheading,
        link_text_1: block.settings.link_text_1,
        link_url_1: block.settings.link_url_1,
        link_style_1: block.settings.link_style_1,
        link_text_2: block.settings.link_text_2,
        link_url_2: block.settings.link_url_2,
        link_style_2: block.settings.link_style_2,
        slide_index: forloop.index
      -%}
    {% endfor %}
  </div>
</hero-slider>

{% schema %}
{
  "name": "Hero Slider",
  "class": "overflow-hidden",
  "blocks": [
    {
      "name": "Hero Slide",
      "type": "hero-slide",
      "settings": [
        {
          "type": "header",
          "content": "Background"
        },
        {
          "type": "select",
          "id": "background_type",
          "label": "Background Type",
          "options": [
            {
              "value": "image",
              "label": "Image"
            },
            {
              "value": "video",
              "label": "Video"
            }
          ],
          "default": "image",
          "info": "If video option is selected, background images will be used as video fallback images"
        },
        {
          "type": "image_picker",
          "id": "image_mobile",
          "label": "Background Image Mobile"
        },
        {
          "type": "image_picker",
          "id": "image_desktop",
          "label": "Background Image Desktop"
        },
        {
          "type": "text",
          "id": "image_alt",
          "label": "Background Image Alt"
        },
        {
          "type": "text",
          "id": "video_mobile",
          "label": "Background Video Mobile"
        },
        {
          "type": "text",
          "id": "video_desktop",
          "label": "Background Video Desktop"
        },
        {
          "type": "header",
          "content": "Content"
        },
        {
          "type": "select",
          "id": "heading_style",
          "label": "Heading Style",
          "default": "light",
          "options": [
            {
              "value": "light",
              "label": "Light"
            },
            {
              "value": "dark",
              "label": "Dark"
            },
            {
              "value": "alt",
              "label": "Alternate"
            }
          ]
        },
        {
          "type": "text",
          "id": "subheading",
          "label": "Subheading"
        },
        {
          "type": "text",
          "id": "heading",
          "label": "Heading"
        },
        {
          "type": "text",
          "id": "link_text_1",
          "label": "Link Text 1"
        },
        {
          "type": "url",
          "id": "link_url_1",
          "label": "Link URL 1"
        },
        {
          "type": "select",
          "id": "link_style_1",
          "label": "Link Style 1",
          "default": "light",
          "options": [
            {
              "value": "light",
              "label": "Light"
            },
            {
              "value": "dark",
              "label": "Dark"
            },
            {
              "value": "alt",
              "label": "Alternate"
            }
          ]
        },
        {
          "type": "text",
          "id": "link_text_2",
          "label": "Link Text 2"
        },
        {
          "type": "url",
          "id": "link_url_2",
          "label": "Link URL 2"
        },
        {
          "type": "select",
          "id": "link_style_2",
          "label": "Link Style 2",
          "default": "light",
          "options": [
            {
              "value": "light",
              "label": "Light"
            },
            {
              "value": "dark",
              "label": "Dark"
            },
            {
              "value": "alt",
              "label": "Alternate"
            }
          ]
        }
      ]
    }
  ],
  "settings": [
    {
      "type": "header",
      "content": "Notes",
      "info": "Add multiple Hero Slide blocks to enable slider functionality, or add a single block for a standalone Hero module."
    }
  ],
  "presets": [
    {
      "name": "Hero",
      "blocks": [
        {
          "type": "hero-slide",
          "settings": {
            "background_type": "image",
            "subheading": "Subheadline",
            "heading": "Headline for Hero",
            "link_text_1": "Button 1",
            "link_url_1": "/",
            "link_style_1": "dark"
          }
        }
      ]
    }
  ]
}
{% endschema %}
