<product-main class="relative block max-w-7xl mx-auto px-responsive" data-handle="{{ product.handle }}">
  <div class="grid grid-cols-12 bg-blue-500">
    <div class="bg-orange-500 col-span-8">
      {% render 'product-gallery' %}
    </div>
    <div class="bg-yellow-500 col-span-4">
      <h1 class="h1">{{ product.title }}</h1>
      <div data-slot="product-main-price">
        <p>{{ product.selected_or_first_available_variant.price | money_without_trailing_zeros }}</p>
      </div>
      {% render 'product-form' %}
      {% render 'product-details',
        blocks: section.blocks
      %}
    </div>
  </div>
</product-main>
{% render 'vite-tag' with  '@modules/product-main' %}
{% schema %}
{
  "name": "Product Main",
  "max_blocks": 3,
  "blocks": [
    {
      "name": "Product Detail",
      "type": "product-detail",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Title"
        },
        {
          "type": "richtext",
          "id": "content",
          "label": "Content"
        }
      ]
    }
  ]
}
{% endschema %}
