<recommended-products data-url="{{ routes.product_recommendations_url }}?section_id={{ section.id }}&product_id={{ product.id }}&limit=4" data-slot="recommended-products">
  <div class="max-w-7xl mx-auto px-responsive hidden">
    {% render 'rich-text', heading: section.settings.heading, heading_class: 'h3' %}
  </div>
  {%- if recommendations.performed and recommendations.products_count > 0 -%}
    {% render 'product-grid', products: recommendations.products %}
  {% endif %}
</recommended-products>
{% render 'vite-tag' with  '@modules/recommended-products' %}
{% schema %}
{
  "name": "Recommended Products",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "Heading"
    }
  ]
}
{% endschema %}
